<head th:replace="includes/head :: head"></head>

<!--Main Navigation-->
<header th:replace="includes/navigation :: navbar"></header>



<div class="container mt-5 pt-5">


    <div class="row">
        <div class="col-md-12">
            <h2 th:text="${pageTitle}">Hall </h2>

            <!--Table-->
            <div class="table-responsive">
                <table class="table">

                    <!--Table head-->
                    <thead class="mdb-color darken-3">
                    <tr class="text-white">
                        <th>#</th>
                        <th>rows</th>
                        <th>cols</th>
                        <th>total seats</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    <tr th:each="hall : ${halls}">
                        <th scope="row" th:text="${hall.key.GetId()}">1</th>
                        <th th:text="${hall.key.GetRows()}">1</th>
                        <th th:text="${hall.key.GetCols()}">1</th>
                        <th th:text="${hall.key.GetCols()} * ${hall.key.GetRows()}">1</th>

                        <td align="left">
                            <div th:remove="tag" th:if="${hall.value.size() == 0}">
                                <a th:href="@{'/admin/hall/' + ${hall.key.GetId()}}" class="btn btn-sm btn-warning">Edit</a>
                                <a href="#" class="btn btn-sm btn-danger">Delete</a>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                    <!--Table body-->

                </table>
            </div>
            <!--Table-->
        </div>
    </div>
</div>
</div>


<footer th:replace="includes/footer :: footer"></footer>