<head th:replace="includes/head :: head"></head>

<!--Main Navigation-->
<header th:replace="includes/navigation :: navbar"></header>



<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col">
            <h1 class="display-3">Admin panel</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Cinemas</h2>
            <!--Table-->
            <div class="table-responsive">
                <table class="table">

                    <!--Table head-->
                    <thead class="mdb-color darken-3">
                        <tr class="text-white">
                            <th>#</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Halls</th>
                            <th>Sessions</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr th:each="cinema : ${cinemas}">
                            <th scope="row" th:text="${cinema.GetId()}"></th>
                            <td th:text="${cinema.GetName()}"></td>
                            <td th:text="${cinema.GetAddress()}"></td>
                            <td th:text="${cinema.GetPhoneNumber()}"></td>
                            <td>
                                <a th:href="@{'/admin/halls/cinema/' + ${cinema.GetId()}}" th:text="${cinema.GetHalls().size()}"></a>
                            </td>
                            <td>
                                <a th:href="@{'/admin/sessions/cinema/' + ${cinema.GetId()}}" th:text="${cinema.GetSessions().size()}"></a>
                            </td>
                            <td th:text="${cinema.GetLatttidue()}">57.396656</td>
                            <td th:text="${cinema.GetLongitude()}">21.564559</td>
                            <td align="left">
                                <a th:href="@{'/admin/cinema/' + ${cinema.GetId()}}" class="btn btn-sm btn-warning">Edit</a>
                                <a th:href="@{'/admin/cinema/' + ${cinema.GetId()} + '/delete'}" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" ></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td></td>
                            <td></td>
                            <td align="left">
                                <a href="/admin/cinema" class="btn btn-sm btn-success">Add cinema</a>
                            </td>
                        </tr>
                    </tbody>
                    <!--Table body-->

                </table>
            </div>
            <!--Table-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Movies</h2>

            <!--Table-->
            <div class="table-responsive">
                <table class="table">

                    <!--Table head-->
                    <thead class="mdb-color darken-3">
                        <tr class="text-white">
                            <th>#</th>
                            <th>Name</th>
                            <th>Runtime</th>
                            <th>Year</th>
                            <th>Director</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr th:each="movie : ${movies}">
                            <th scope="row" th:text="${movie.key.GetId()}">1</th>
                            <td movie th:text="${movie.key.GetName()}">Pulp Fiction</td>
                            <td th:text="${movie.key.GetTime().getHours() + ':' + movie.key.GetTime().getMinutes()}">01:34:00</td>
                            <td th:text="${movie.key.GetYear()}">1994</td>
                            <td th:text="${movie.key.GetDirector()}">Quentin Tarantino</td>
                            <td align="left">
                                <a th:href="@{'/admin/movie/' + ${movie.key.GetId()}}" class="btn btn-sm btn-warning">Edit</a>
                                <div th:remove="tag" th:if="${movie.value.size() == 0}">
                                    <a th:href="@{'/admin/movie/' + ${movie.key.GetId()} + '/delete'}" class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" ></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td align="left">
                                <a href="/admin/movie" class="btn btn-sm btn-success">Add movie</a>
                            </td>
                        </tr>
                    </tbody>
                    <!--Table body-->

                </table>
            </div>
            <!--Table-->
        </div>
    </div>




   <!-- <div class="row">
        <div class="col-md-12">
            <h2>Users</h2>

            <div class="table-responsive">
                <table class="table">

                    <thead class="mdb-color darken-3">
                    <tr class="text-white">
                        <th>#</th>
                        <th>Username</th>
                        <th>roles</th>
                        <th>Cinema</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="user : ${users}">
                        <th scope="row" th:text="${user.getId()}">1</th>
                        <th th:text="${user.getUsername()}">1</th>
                        <td th:text="${user.RolesToString()}">1994</td>
                        <td th:text="${user.GetCinema() != null} ? ${user.GetCinema().GetName()} : 'NULL'">1994</td>

                        <td align="left">
                            <a href="#" class="btn btn-sm btn-warning">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div> -->
</div>
</div>


<footer th:replace="includes/footer :: footer"></footer>