
<head th:replace="includes/head :: head"></head>
<header th:replace="includes/navigation :: navbar"></header>


<div class="container mt-5 pt-5">
    <div class="row">
        <div th:if="${failed != null}" class="col-sm-12 alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Failed!</strong> <span th:text="${failed}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div th:if="${succcess != null}" class="col-sm-12 alert alert-success alert-dismissible fade show" role="alert">
            <strong>Succcess!</strong> <span th:text="${succcess}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="col-md-6 offset-md-3">
        <!-- Material form login -->
        <form th:action="@{${method}}" th:object="${movieForm}" enctype="multipart/form-data"  method="post">
            <p class="h4 mb-4" th:text="${pageTitle}"></p>

            <input type="hidden" th:field="*{id}"  class="form-control" required>

            <div class="md-form">
                <input type="text" id="movieName" th:field="*{movieName}"  class="form-control" required>
                <label for="movieName">Movie name</label>
            </div>


            <div class="md-form">
                <label for="description">Movie description</label>
                <textarea class="form-control rounded-0" id="description" th:field="*{description}" rows="3" required></textarea>
            </div>


            <div class="md-form">
                <label for="hour">Movie time hours</label>
                <input type="number" id="hour" min="0" max="10" step="1" value="218" th:field="*{hours}" required />
            </div>

            <div class="md-form">
                <label for="minutes">Movie time minutes</label>
                <input type="number" id="minutes" min="0" max="60" step="1" value="218" th:field="*{minutes}" required />
            </div>

            <div class="md-form">
                <label for="year">Movie year</label>
                <input type="number" id="year" min="1920" max="2018" step="1" value="218" th:field="*{year}" required />
            </div>

            <div class="md-form">
                <input type="text" id="director" th:field="*{director}"  class="form-control" required>
                <label for="director">Director</label>
            </div>


            <div class="md-form">
                <input type="url" id="imdb" th:field="*{imdb}"  class="form-control" required>
                <label for="imdb">Imdb url</label>
            </div>

            <div class="md-form">
                <input type="url" id="youtube" th:field="*{youtube}"  class="form-control" required>
                <label for="youtube">Youtube url</label>
            </div>

            <div class="md-form">

                <div th:each="genre : ${movieGenres}">
                    <div th:each="g : ${movieForm.genres}">
                    <input type="checkbox" th:checked="${g == genre.GetId()}" th:field="*{genres}"class th:value="${genre.GetId()}"  th:text="${genre.GetName()}" /><br />
                    </div>
                </div>

            </div>


            <div class="md-form">
                <input type="file" th:field="*{img}" accept="image/jpeg" th:required="${imgRequired}" />
            </div>


    <div class="mt-4">
        <button class="btn btn-default" type="submit">Submit</button>
    </div>


        </form>
        <!-- Material form login -->
    </div>
</div>
</div>


<footer th:replace="includes/footer :: footer"></footer>

