<head th:replace="includes/head :: head"></head>

<!--Main Navigation-->
<header th:replace="includes/navigation :: navbar"></header>


<div class="container mt-5 pt-5">

    <div class="row">
        <div th:if="${failed != null}" class="col-sm-12 alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Failed!</strong> <span th:text="${failed}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div th:if="${succcess != null}" class="col-sm-12 alert alert-success alert-dismissible fade show" role="alert">
            <strong>Succcess!</strong> <span th:text="${succcess}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 offset-md-3">


            <form action ="/admin/hall/update" method="post">
                <p class="h4 mb-4" th:text="${pageTitle}"></p>

                <input type="hidden" name="cinemaId" th:value="${sessions != null ? sessions.GetCinema().GetId() : ''}"  class="form-control" required>
                <input type="hidden" name="sessionId" th:value="${sessions != null ? sessions.GetId() : ''}"  class="form-control" required>
                <input type="hidden" name="hallId" th:value="${sessions != null ? sessions.GetHall().GetId() : ''}"  class="form-control" required>

                <div class="md-form">
                    <p>Movie</p>
                    <select name="sessionMovie">
                        <option th:each="movie : ${movies}" th:value="${movie.GetId()}"  th:text="${movie.GetName()}"
                                th:selected="
                                ${ session != null and sessions.GetMovie().GetId() == movie.GetId()
                                }"
                        />
                    </select>
                </div>

                <div class="md-form">
                    <p>Hall</p>
                    <select name="sessionHall">
                        <option th:each="hall : ${halls}" th:value="${hall.GetId()}"  th:text="${hall.GetId() + ' -' + hall.GetRows() + ' x ' + hall.GetCols()}"
                                th:selected="
                                ${ session != null and sessions.GetHall().GetId() == hall.GetId()
                                }"
                        />
                    </select>
                </div>

                <div class="form-group row">
                    <label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>
                    <div class="col-10">
                        <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                    </div>
                </div>

                <div class="md-form">
                    <input type="number"  min="0.1" max="30"  name="price" th:value="${sessions.GetPrice()}" id="price" step="0.1">
                    <label for="price">Price</label>
                </div>


            </form>
        </div>
    </div>
</div>



<footer th:replace="includes/footer :: footer"></footer>

