<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="includes/head :: head"></head>


<body>
    <!--Main Navigation-->
    <header th:replace="includes/navigation :: navbar"></header>


    <!-- Start your project here-->
    <div class="container mt-5 pt-5">
        <div class="row mb-5">
            <div class="col text-center">
                <h1 class="display-3">Movie theaters nearby</h1>
                <h4>Below are the closest movie theaters to your location.</h4>
            </div>
        </div>
        <div class="row">
            <!-- Card 111111111111111111111111111111-->

            <div class="col" th:each="cinema,iterStat : ${cinemas}" th:if="${iterStat.index}<4">

            <!-- Card -->
                <div class="card">

                    <!-- Card image -->
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">
                            <a th:text="${cinema.GetName()}"></a>
                        </h4>
                        <!-- Text -->
                        <dl class="row">
                            <dt class="col-sm-6">Distance</dt>
                            <dd class="col-sm-6">150 m</dd>
                            <dt class="col-sm-6">City</dt>
                            <dd class="col-sm-6">Talsi</dd>
                            <dt class="col-sm-6">Address</dt>
                            <dd class="col-sm-6">Some street 22</dd>
                        </dl>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Book tickets</a>

                    </div>

                </div>
                <!-- /Card -->
            </div>
            <!-- /Col -->
        </div>
    </div>
    </div>

    <!-- /Start your project here-->

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4 mt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">Footer Content</h5>
                    <p>Here you can use rows and columns here to organize your footer content.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <link rel="stylesheet" th:href="@{/css/mdb.min.css}"/>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
</body>

</html>