<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Geolocation and Google Maps API</title>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
      function geolocationSuccess(position) {
        console.log(position);
        console.log(position.coords.latitude);
        console.log(position.coords.longitude);
        console.log(typeof position.coords.longitude);
        getAllLocations();

      }

      function geolocationError(positionError) {
        console.log("failed " + positionError);
      }

      function geolocateUser() {
        // If the browser supports the Geolocation API
        if (navigator.geolocation) {
          var positionOptions = {
            enableHighAccuracy: true,
            timeout: 10 * 1000 // 10 seconds
          };
          navigator.geolocation.getCurrentPosition(geolocationSuccess, geolocationError, positionOptions);
        } else {
          geolocationError("failed to get geoleocation");
        }
      }

      function getAllLocations() {
          $.post("/cinemas", {}, function(data, status){
            alert(data);
          });
      }
      //https://stackoverflow.com/questions/7997627/google-maps-how-to-get-the-distance-between-two-point-in-metre?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
      window.onload = geolocateUser;
    </script>

  </head>
  <body>
    <h1>Basic example</h1>
    <div id="map"></div>
    <p><b>Address</b>: <span id="address"></span></p>
    <p id="error"></p>
  </body>
</html>
