<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Geolocation and Google Maps API</title>
    <script src="http://maps.google.com/maps/api/js?sensor=true&libraries=geometry"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>


      function ConvertToJsonData(cinemaData) {
          var temp = JSON.parse(cinemaData);
          var jsonObj = [];

          for(i = 0; i < Object.keys(temp).length; ++i) {
              jsonObj[i] = JSON.parse(temp[i]);
          }
          return jsonObj;
      }

      function SortDataByDistance(cinemaData, distanceData) {
          for(i = 0; i < distanceData.length; ++i) {

          }
      }
      function GetDistance(cinemaData, positionData) {
          var distance  = [];
          console.log(cinemaData);
          console.log(positionData);
           for(i = 0; i < cinemaData.length; ++i) {
               var p1 = new google.maps.LatLng(cinemaData[i].latitude, cinemaData[i].longitude);
               var p2 = new google.maps.LatLng(positionData.coords.latitude, positionData.coords.longitude);
               distance[i] = (google.maps.geometry.spherical.computeDistanceBetween(p1, p2) / 1000);
           }
          return distance
      }

      function GetClosestCinemas(cinemaData, positionData) {
          var jsonCinemaData = ConvertToJsonData(cinemaData);
          var distance = GetDistance(jsonCinemaData, positionData)

          // sorts by distance
          for(i = 0; i < distance.length - 1; ++i) {
            for(j = i + 1; j < distance.length; ++j) {
                if(distance[i] > distance[j]) {
                    var temp = distance[i];
                    distance[i] = distance[j];
                    distance[j] = temp;

                    var tempObj = jsonCinemaData[i];
                    jsonCinemaData[i] = jsonCinemaData[j];
                    jsonCinemaData[j] = tempObj;
                }
            }
          }
          console.log("sorted " + distance);
          // adds distance to json object
          for(i = 0; i < distance.length; ++i) {
              jsonCinemaData[i].distance = distance[i];
          }
          return jsonCinemaData;
      }

      // success function
      function geolocationSuccess(position) {
          $.post("/cinemas", {}, function(data, status){
              if(status == "success") {
                  console.log(status);
                 var cinemaData =  GetClosestCinemas(data, position);
                 console.log(cinemaData);
              } else {
                  console.log("error");
              }
          });
      }

      // error method
      function geolocationError(positionError) {
        console.log("failed " + positionError);
      }


      // geolocates user
      function geolocateUser() {
        // If the browser supports the Geolocation API
        if (navigator.geolocation) {
          var positionOptions = {
            enableHighAccuracy: true,
            timeout: 10 * 1000 // 10 seconds
          };
          navigator.geolocation.getCurrentPosition(geolocationSuccess, geolocationError, positionOptions);
        } else {
          geolocationError("failed to get geoleocation");
        }
      }


      window.onload = geolocateUser;
    </script>

  </head>
  <body>
    <h1>Basic example</h1>
    <div id="map"></div>
    <p><b>Address</b>: <span id="address"></span></p>
    <p id="error"></p>

  </body>
</html>
