
<head th:replace="includes/head :: head"></head>
<header th:replace="includes/navigation :: navbar"></header>


<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- Material form login -->
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <p class="h4 text-center mb-4">Sign in</p>

                <!-- Material input email -->
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="loginFormUsername" name="username" class="form-control">
                    <label for="loginFormUsername">Username</label>
                </div>

                <!-- Material input password -->
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="loginFormPassword" name="password" class="form-control">
                    <label for="loginFormPassword">Your password</label>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-default" type="submit">Login</button>
                </div>
            </form>
            <!-- Material form login -->
        </div>
    </div>
</div>


<footer th:replace="includes/footer :: footer"></footer>